.main {
  background-color: #000000;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  color: whitesmoke;
}
.header {
  text-align: center;
  background-color: #000000;
  color: whitesmoke;
  font-family: "Metal Mania";
  font-size: large;
}
hr {
  border: 3px solid #c69749;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  border-radius: 3px;
  box-shadow: 5px 3px 2px black;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
#aboutMe {
  font-family: "Roboto";
}
.center {
  margin: auto;
  color: #c69749;
  position: relative;
  left: 50%;
  top: 50%;
}
h3 {
  padding-left: 7px;
  color: whitesmoke;
  font-family: "Roboto";
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.movieRank {
  background-color: #000000;
  justify-content: center;
}
footer {
  color: whitesmoke;
  font-family: "Roboto";
}
.linkedin-link {
  height: 50px;
  width: 50px;
}
.twitter-link {
  height: 50px;
  width: 50px;
}
