.main {
  background-color: #000000;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  color: #c69749;
}
.header {
  text-align: center;
  background-color: #000000;
  color: #c69749;
  font-family: "Metal Mania";
  font-size: large;
}
hr {
  border: 2px solid #735f32;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
h3 {
  padding-left: 7px;
  color: #c69749;
  font-family: "Roboto";
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.movieRank {
  background-color: #000000;
  justify-content: center;
}
footer {
  color: #c69749;
  font-family: "Roboto";
}
