.main {
  background-color: #000000;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  color: whitesmoke;
}
.header {
  text-align: center;
  background-color: #000000;
  color: whitesmoke;
  font-family: "Metal Mania";
  font-size: large;
}
hr {
  border: 1px solid #c69749;
  border-radius: 5px;
}
#aboutMe {
  font-family: "Roboto";
}
.center {
  margin: auto;
  color: #c69749;
  position: relative;
  left: 50%;
  top: 50%;
}
h3 {
  padding-left: 7px;
  color: whitesmoke;
  font-family: "Roboto";
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.movieRank {
  background-color: #000000;
  justify-content: center;
}
footer {
  color: whitesmoke;
  font-family: "Roboto";
}
.linkedin-link {
  height: 35px;
  width: 35px;
  padding-left: 20px;
  padding-right: 20px;
}
.twitter-link {
  height: 35px;
  width: 35px;
}
