.main {
  background-color: #000000;
}
.header {
  text-align: center;
  background-color: #000000;
  color: whitesmoke;
  font-size: 2rem;
}
hr {
  border: 2px solid #c69749;
}
.cover {
  height: 300px;
  width: 200px;
}
#firstMovie {
  color: whitesmoke;
  font-size: 2rem;
}
#secondMovie {
  color: whitesmoke;
  font-size: 2rem;
}
#cornettoandpaul {
  color: whitesmoke;
  font-size: 2rem;
}
img {
  border-radius: 5px;
}
.caption {
  font-size: 1rem;
  font-weight: bold;
}
